---
layout: default
---

<div class="home">

  <h1 class="page-heading">События:</h1>

  <ul class="post-list">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <article>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</article>
      </li>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Ранее</a>
      {% endif %}
      <span class="page_number ">Страница: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Далее</a>
      {% endif %}

      <p class="rss-subscribe" style="float: right;">подпишись <a href="{{ "/feed.xml" | prepend: site.baseurl }}">на RSS</a></p>
    </div>

  </ul>

</div>
