/**
 * Custom rules for rufoldetnoshestvie
 */

/**
 * Headings
 */
h1 {
    font-size: 24pt;
    font-weight: 600;
}

h2 {
    font-size: 20pt;
    font-weight: 500;
}

h3 {
    font-size: 18pt;
    font-weight: 400;
}

h4 {
    font-size: 16pt;
    font-weight: 300;
}

h5 {
    font-size: 14pt;
    font-style: oblique;
}

h6 {
    font-size: 12pt;
    font-style: oblique;
}



/**
 * Title
 */
.post-title {
    font-size: 20pt;
}

